<%# locals: () -%>
<nav class="nav">
  <%= link_to root_path, class: "nav--left" do %>
    <div class="nav--logo"></div>
    <h1 class="nav--title">Pencil MC</h1>
  <% end %>
  <div class="nav--mid">
    <%- if current_user -%>
      <%= link_to "Home", root_path, class: "nav--menu" %>
      <%= link_to live_station_path, class: "nav--menu" do %>
        <span>My Station</span>
        <% if current_user.live_station&.live? %>
          <span class="track--playing-indicator"></span>
        <% end %>
      <% end %>
    <%- end -%>
    <%= form_with(url: search_path, 
                  method: :get, 
                  class: "nav--search w-full relative",
                  data: { controller: 'search',
                          search_target: 'form',
                          turbo_frame: "results" },
                  target: :_top ) do |f| %>
      <div class="flex flex-column relative">
        <div class='flex w-full'>
          <div class="nav--search--icon">
            <%= render "icons/search" %>
          </div>
          <%= f.search_field :q, 
                            value: params[:q], 
                            class: "nav--search--input relative",
                            data: { search_target: 'input',
                                    action: 'input->search#inputChange' } %>
          <span class='clear-btn absolute right-0 top-0 m-2 cursor-pointer hidden'
                data-search-target='clearBtn'
                data-action='click->search#clearAfter'>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </span>
        </div>
        <%= turbo_frame_tag "results", 
                            class: 'absolute w-full bg-white rounded shadow-xl',
                            style: 'top: 3.2rem;',
                             target: :_top %>
      </div>
  <% end %>
  </div>
  <div class="nav--right">
    <%- if current_user -%>
      <span class="nav--username"><%= User::PREFIX + current_user.username %></span>
      <%= button_to "Sign out", sign_out_path, method: :delete, class: "nav--btn--outlined ml-2" %>
    <%- else- %>
      <%= link_to "Sign up", sign_up_path, class: "nav--btn--outlined" %>
      <%= link_to "Log in", sign_in_path, class: "nav--btn ml-2" %>
    <%- end -%>
  </div>
</nav>
